# Python
**/__pycache__
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env
.env.local

# Logs
logs/*.log
*.log

# Database
# *.sqlite3
# db.sqlite3

# Static files
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
