services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=oc_lettings_site.settings.local
      - SQLITE_PATH=/app/oc-lettings-site.sqlite3
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: unless-stopped
