version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    environment:
      - SQLITE_PATH=/app/oc-lettings-site.sqlite3
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
